<h1>Carrito {{cartId}}</h1>

<a href="/products">⬅ Volver a productos</a>

{{#if products.length}}
  <ul>
    {{#each products}}
      <li>
        <strong>{{this.productId.title}}</strong><br>
        Precio: ${{this.productId.price}}<br>
        Cantidad: {{this.quantity}}
      </li>
      <hr>
    {{/each}}
  </ul>
{{else}}
  <p>El carrito está vacío.</p>
{{/if}}
